QDRANT_HOST=
QDRANT_PORT=
BACKEND_HOST=
BACKEND_PORT=
FRONTEND_PORT=
BACKEND_URL=
ENVIRONMENT=
POSTGRES_HOST=
POSTGRES_PORT=
POSTGRES_DB=
POSTGRES_USER=
POSTGRES_PASSWORD=
UPLOAD_DIR=
MAX_UPLOAD_SIZE_MB=
